/* -------- Make Responsive Page -------- */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  font-family: 'Calibri2', Calibri, Arial, 'Trebuchet MS', sans-serif;
}

img {
	max-width: 100%;
}

/* -------- Home, Why Grand Challenges, The Three Levels 1 & 2  --------- */

/* Mobile Version */

.main-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"page-title"
	"navbar"
	"main-text"
	"footer-text" 
	;
}

.three-levels1 .main-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"page-title"
	"navbar"
	"main-text"
	"buttoncenter" 
	;
}

.three-levels2 .main-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"page-title"
	"navbar"
	"buttoncenter" 
	;
}

.page-title {
	grid-area: page-title;
	grid-column: 1/2;
	background-color: #f1f1f1;
	padding: 30px;
	text-align: center;
	font-size: 75%;
}

.navbar {
	grid-area: navbar;
	grid-column: 1/2;
	overflow: hidden;
	background-color: #333;
	color: #f2f2f2;
}

	/* Navbar Menu Style */
	.navbar a {
		float: center;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		width: 33.33333%;
	}

	.navbar a:hover {
		background-color: #bfbfbf;
		color: black;
	}

	.navbar a.active {
		background-color: #b3b3b3;
		color: white;
	}

.main-text {
	grid-area: main-text;
	grid-column: 1/2;
	padding: 16px;
}

	/* Row and Text Images */

	.row .text-img .level {
		max-width: 300px;
		max-height: 300px;
	}

.footer-text {
	grid-area: footer-text;
	grid-column: 1/2;
	background-color: #333;
	overflow: hidden;
	color: #f2f2f2;
}

	/* Footer Menu Style */
	.footer-text a {
		float: center;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}

	.footer-text a:hover {
		background-color: #bfbfbf;
		color: black;
	}

.buttoncenter {
	grid-area: buttoncenter;
	grid-column: 1/2;
	text-align: center;
	position: center;
}

	/* Button Style*/
	.button {
		border-radius: 20px;
		background-color: #808080;
		border: none;
		color: #FFFFFF;
		text-align: center;
		font-size: 20px;
		padding: 20px;
		width: 150px;
		transition: all 0.5s;
		cursor: pointer;
		margin: 0 auto;
	}

	.button span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}

	.button span:after {
		content: '\00bb';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
	}

	.button:hover span {
		padding-right: 25px;
	}

	.button:hover span:after {
		opacity: 1;
		right: 0;
	}

	/* Three Levels 1 & 2 */

	.row {
		margin: auto;
		padding-top: 40px;
		position: relative;
		max-width: 250px;
	}

/* Tablet version */

@media screen and (min-width: 900px){

	.navbar a {
		float: left;
	}

	.footer-text a {
		float: right;
	}

	.button {
		float: center;
	}

	/* Row and Text Images */

	.row .text-img .level {
		max-width: 300px;
		max-height: 300px;
	}
}

/* Desktop Version */

@media screen and (min-width: 730px){

	.page-title {
		font-size: initial;
		padding: auto;
	}

	.row {
		display: flex;
		text-align: center;
		margin: auto;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 0px;
		padding-right: 0px;
		max-width: 1000px;
	}

	/* Home Page */

	.col {
		flex: 33.33%;
		padding: 5px;
	}

	.text-img {
		float: left;
		padding: 5px;
	}

	/* Three Levels 1 & 2 */

	.level {
		flex: 33.33%;
		display: block;	
		margin-left: auto;
		margin-right: auto;
		padding: 30px;
		position: relative;
		max-width: 250px;
	}

	#nrg #health #space {
		flex: 33.33%;
		display: block;
		margin: 0px;
		padding: 0px;
		position: relative;
	}

	/* Image Overlay */

	.level-img {
		display: block;
		width: 100%;
	  	height: auto;
	  	opacity: 1;
	  	transition: .5s ease;
	  	backface-visibility: hidden;
	}

	.level-overlay {
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 0;
		transition: .5s ease;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;
	}

	.level:hover .level-img {
		opacity: 0.3;
	}

	.level:hover .level-overlay {
		opacity: 0.5;
	}

	.level-img-text {
		color: blue;
		font-size: 20px;
		position: center;
		top: 50%;
		left: 50%;
	}

	#nrg-img #health-img #space-img {
		display: block;
		width: 100%;
		height: auto;
	}

	#nrg-overlay {
		display: inline;
		position: absolute;
		opacity: 0;
		transition: .5s ease;
		background-image: url(images/ENERGY1.svg);
	}

	#health-overlay {
		display: inline;
		position: absolute;
		opacity: 0;
		transition: .5s ease;
		background-image: url(images/HEALTH1.svg);
	}

	#space-overlay {
		display: inline;
		position: absolute;
		opacity: 0;
		transition: .5s ease;
		background-image: url(images/SPACE1.svg);
	}

	#nrg:hover #nrg-overlay {
		opacity: 1;
		z-index: 2;
	}

	#health:hover #health-overlay {
		opacity: 1;
	}

	#space:hover #space-overlay {
		opacity: 1;
	}

	#nrg-img-txt  #health-img-txt #space-img-txt{
		color: white;
		font-size: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}

}

/* -------- Energy 1  --------- */
/* Code follows the home pages, alterations bellow */

/* Mobile Version */

/* Navbar Menu Style */
.nrg1 .navbar a {
	float: center;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	width: 16.6666%;
}

	/* Drowndown Button Style */
	.dropdown {
		float: left;
		overflow: hidden;
	}

	.dropdown .dropbtn {
		cursor: pointer;
		font-size: 17px;  
		border: none;
		outline: none;
		color: white;
		padding: 14px 16px;
		background-color: #333;
		margin: 0;
	}

	.dropdown:hover .dropbtn, .dropbtn:focus {
		background-color: #bfbfbf;
		color: black;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	.dropdown-content a {
		float: none;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}

	.dropdown-content a:hover {
		background-color: #ddd;
	}

	.show {
		display: block;
	}

	/* Side bar Style */
	.sidebar {
	  	height: 100%;
	  	width: 0;
	  	position: fixed;
	  	z-index: 1;
	  	top: 0;
	  	left: 0;
	  	background-color: #333;
	  	overflow-x: hidden;
	  	transition: 0.5s;
	  	padding-top: 60px;
	}

	.sidebar button {
	 	padding: 8px 8px 8px 32px;
	  	text-decoration: none;
	  	font-size: 25px;
	  	color: #818181;
		display: block;
	  	transition: 0.3s;
	}

	.sidebar button:hover {
	  	color: #f1f1f1;
	}

	.sidebar .closebtn {
	  	position: absolute;
	  	top: 0;
	  	right: 25px;
	  	font-size: 36px;
	  	margin-left: 10px;
	}

	.openbtn {
	  	cursor: pointer;
	  	background-color: #333;
	  	color: white;
	  	border: none;
	  	float: center;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		width: 16.6666%;
	}

	.openbtn:hover {
	  	background-color: #bfbfbf;
		color: black;
	}

/* Tablet version */

@media screen and (min-width: 900px) {

}

/* Desktop Version */

@media screen and (min-width: 730px) {

}
