/* -------- Make Responsive Pages -------- */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  font-family: 'Calibri2', Calibri, Arial, 'Trebuchet MS', sans-serif;
}

img {
	max-width: 100%;
}

/* -------- Home, Why Grand Challenges, The Three Levels 1 & 2  --------- */

/* Mobile Version */

.main-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"pag-title"
	"navbar"
	"main-txt"
	"footer-txt" 
	;
}

.three-levels1 .main-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"pag-title"
	"navbar"
	"main-txt"
	"buttoncenter" 
	;
}

.three-levels2 .main-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"pag-title"
	"navbar"
	"buttoncenter" 
	;
}

.page-title {
	grid-area: pag-title;
	grid-column: 1/2;
	background-color: #f1f1f1;
	padding: 30px;
	text-align: center;
	font-size: 75%;
}

.navbar {
	grid-area: navbar;
	grid-column: 1/2;
	overflow: hidden;
	background-color: #333;
	color: #f2f2f2;
}

	/* Navbar Menu Style */
	.navbar a {
		float: center;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		width: 100%;
	}

	.navbar a:hover {
		background-color: #bfbfbf;
		color: black;
	}

	.navbar a.active {
		background-color: #b3b3b3;
		color: white;
	}

.main-text {
	grid-area: main-txt;
	grid-column: 1/2;
	padding: 16px;
	margin: auto;
	font-family: 'Calibri2', Calibri, Arial, 'Trebuchet MS', sans-serif;
	line-height: normal;
	font-size: 16px;
}

	/* Row and Text Images */
	.row .text-img .level {
		max-width: 300px;
		max-height: 300px;
	}

	/* Click-on Definition Button Style*/
	.dropdown-text, .dropdown-text-extra {
		background-color: inherit;
		color: #006600;
		font-size: inherit;
		font-family: inherit;
		font-style: italic;
		border: none;
		cursor: pointer;
		text-decoration: none;
		display: inline;
		padding: 0px;
	}

	.def-button {
		position: relative;
		display: inline;
	}

	.dropdown-def, .dropdown-def-extra {
		display: none;
	  	position: absolute;
	  	background-color: #F8F8F8;
	  	min-width: auto;
	  	max-height: auto;
	  	z-index: 1;
	  	padding: 5px;
	}

	.dropdown-def span {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.show {
		display: block;
	}

.footer-text {
	grid-area: footer-txt;
	grid-column: 1/2;
	background-color: #333;
	overflow: hidden;
	color: #f2f2f2;
	padding-left: 5px;
}

	/* Footer Menu Style */
	.footer-text a {
		float: center;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}

	.footer-text a:hover {
		background-color: #bfbfbf;
		color: black;
	}

.buttoncenter {
	grid-area: buttoncenter;
	grid-column: 1/2;
	text-align: center;
	position: center;
}

	/* Button Style*/
	.button {
		border-radius: 20px;
		background-color: #808080;
		border: none;
		color: #FFFFFF;
		text-align: center;
		font-size: 20px;
		padding: 20px;
		width: 150px;
		transition: all 0.5s;
		cursor: pointer;
		margin: 0 auto;
	}

	.button span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}

	.button span:after {
		content: '\00bb';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
	}

	.button:hover span {
		padding-right: 25px;
	}

	.button:hover span:after {
		opacity: 1;
		right: 0;
	}

	/* Three Levels 1 & 2 */
	.row {
		margin: auto;
		padding-top: 40px;
		position: relative;
		max-width: 250px;
	}

/* Tablet Version */

@media only screen and (min-width: 600px) {

	.navbar a {
		float: left;
	}

	.footer-text a {
		float: center;
	}

	.button {
		float: center;
	}

	/* Row and Text Images */
	.row .text-img .level {
		max-width: 300px;
		max-height: 300px;
	}
}

/* Desktop Version */

@media only screen and (min-width: 768px){

	.page-title {
		font-size: initial;
		padding: auto;
	}

	.navbar a {
		width: 33.33333%;
	}

	.main-text .dropdown-def {
		min-width: 300px;
	}

	.footer-text a {
		float: right;
	}

	.row {
		display: flex;
		text-align: center;
		margin: auto;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 0px;
		padding-right: 0px;
		max-width: 1000px;
	}

	/* Home Page */
	.col {
		flex: 33.33%;
		padding: 0px;
	}

	.text-img {
		float: left;
		padding: 5px;
	}

	.footer-text {
		width: 100%;
	}

	/* Three Levels 1 & 2 */
	.level {
		flex: 33.33%;
		display: block;	
		margin-left: auto;
		margin-right: auto;
		padding: 30px;
		position: relative;
		max-width: 250px;
	}

	#nrg #health #space {
		flex: 33.33%;
		display: block;
		margin: 0px;
		padding: 0px;
		position: relative;
	}

	/* Image Overlay */
	.level-img {
		display: block;
		width: 100%;
	  	height: auto;
	  	opacity: 1;
	  	transition: .3s ease;
	  	backface-visibility: hidden;
	}

	.level-overlay {
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 0;
		transition: .3s ease;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;
	}

	.level:hover .level-img {
		opacity: 0.3;
	}

	.level:hover .level-overlay {
		opacity: 0.5;
	}

	.level-img-text {
		color: blue;
		font-size: 20px;
		position: center;
		top: 50%;
		left: 50%;
	}

	#nrg-img #health-img #space-img {
		display: block;
		width: 100%;
		height: auto;
	}

	#nrg-overlay {
		display: inline;
		position: absolute;
		opacity: 0;
		transition: .3s ease;
		background-image: url(images/ENERGY1.svg);
	}

	#health-overlay {
		display: inline;
		position: absolute;
		opacity: 0;
		transition: .3s ease;
		background-image: url(images/HEALTH1.svg);
	}

	#space-overlay {
		display: inline;
		position: absolute;
		opacity: 0;
		transition: .3s ease;
		background-image: url(images/SPACE1.svg);
	}

	#nrg:hover #nrg-overlay {
		opacity: 1;
		z-index: 2;
	}

	#health:hover #health-overlay {
		opacity: 1;
	}

	#space:hover #space-overlay {
		opacity: 1;
	}

	#nrg-img-txt  #health-img-txt #space-img-txt{
		color: white;
		font-size: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}

}

/* -------- Book Content  --------- */
/* Code follows the home pages, alterations bellow */

/* Mobile Version */

.book-content .main-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"pag-title"
	"navbar"
	"main-txt"
	;
}

.book-content .navbar {
	grid-area: navbar;
	grid-column: 1/2;
	overflow: hidden;
	background-color: #333;
	color: #f2f2f2;
	transition: top 0.3s;
}

	/* Navbar Menu Style */
	.book-content .navbar button {
		float: center;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		width: 100%;
		background-color: #333;
		border: none;
		align-self: center;
	}

	.book-content .navbar a:hover {
		background-color: #bfbfbf;
		color: black;
	}

	.book-content .navbar button:hover {
		background-color: #bfbfbf;
		color: black;
		cursor: pointer;
	}

	.book-content .navbar button.active {
		background-color: #b3b3b3;
		color: white;
	}

	/* Drowndown Button Style */
	.dropdown {
		position: relative;
	}

	.dropbtn {
		cursor: pointer;
		font-size: 17px;  
		border: none;
		outline: none;
		color: #f9f9f9;
		padding: 14px 16px;
		background-color: inherit;
		font-family: inherit;
		margin: 0;
	}

	.dropdown:hover .dropbtn, .dropbtn:focus {
		background-color: #bfbfbf;
		color: black;
	}

	.dropdown-content {
		display: none;
		position: absolute;
  		background-color: #f1f1f1;
		min-width: 200px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		overflow: auto;
	}

	.dropdown-content a {
		float: none;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.dropdown-content a:hover {
		background-color: #ddd;
	}

	.show {
		display: block;
		overflow: hidden;
	}

	/* Sidebar Style */
	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #333;
		overflow-x: hidden;
		padding-top: 0px;
		transition: 0.5s;
	}
	
	.sidenav button {
		background: none!important;
		color: inherit;
		border: none;
		cursor: pointer;
		width: 100%;
	}

	.sidenav a, .sidenav ol, .sidetool a, .sidenav button {
		display: block;
		padding: 9px 9px 9px 32px;
		text-decoration: none;
		font-size: 17px;
		color: #b3b3b3;
		transition: 0.3s;
		text-align: left;
  		cursor: pointer;
	}

	.sidenav a:hover, .sidenav button:hover, .dropdown-btn:hover {
		color: #f1f1f1;
	}

	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 60px;
	}

	.main-text {
		transition: margin-left .5s;
  		padding: 20px;
	}

	/* Submenu Sidebar Style */
	.sidenav .sub-menu {
		display: none;
		background-color: #262626;
		padding-left: 8px;
	}

	.sidenav .sub-menu a {
		font-size: 14px;
	}

	.sidenav .active {
  		background-color: green;
  		color: white;
	}

	.sidenav .fa-caret-down {
	  	float: right;
	  	padding-left: 8px;
	}

	/* SideTool Style */
	.sidetool {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		background-color: #333;
		overflow-x: hidden;
		padding-top: 35px;
		transition: 0.5s;
	}

	.sidetool .closebtn {
		position: absolute;
		top: 0;
		right: 15px;
		font-size: 36px;
		margin-left: 60px;
		transition: 0.3s;
	}

	.sidetool i {
		display: block;
		padding: 0px 0px 30px 15px;
		text-decoration: none;
		font-size: 20px;
		color: #e2e2e2;
		transition: 0.3s;
	}

/* Text Style */
.book-content .main-header {
	line-height: 1.83em;
	margin-bottom: 24px;
	color: #333;
	font-size: 1.5em;
	font-weight: bold;
}

.book-content .main-text {
	margin: auto;
	font-family: 'Calibri2', Calibri, Arial, 'Trebuchet MS', sans-serif;
	line-height: normal;
	font-size: 16px;
}

.book-content h2 {
    line-height: 1.83em;
    margin-bottom: 24px;
    color: #333;
    font-size: 1.5em;
}

.book-content p {
	position: relative;
}

/* Objectives Box Style */
.objectives {
	background-color: #eae9dc;
	padding-bottom: 5px;
}

.objectives-title {
	background-color: #d2d1c2;
}

.objectives .objectives-title {
	font-size: 0.9em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.125em;
	padding: 5px;
	margin-bottom: 5px;
	font-weight: 550;
}

.objectives-text {
	font-family: 'Calibri2', Calibri, Arial, 'Trebuchet MS', sans-serif;
	margin: 10px 25px 0 20px;
}

/* Focus Box Style */
.focus {
	background-color: #e3eff7;
	padding-bottom: 20px;
	margin-top: 14px;
	margin-bottom: 14px;
	clear: both;
}

.focus .focus-title {
	background-color: #08629a;
	color: white;
	font-size: 1.1em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.125em;
	padding: 10px 0px 7px 0px;
	margin-bottom: 10px;
}

.focus .focus-text {
	font-family: 'Calibri2', Calibri, Arial, 'Trebuchet MS', sans-serif;
	margin: 10px 25px 0 20px;
}

/* Exercises Box Style */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

	/* Solution Tab Style */
	.ans-btn {
		background-color: #eee;
		color: #444;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
	}

	.ans-tab {
		padding: 0 18px;
		display: none;
		overflow: hidden;
		background-color: #f1f1f1;
	}

/* Images Style */
.book-content .text-img {
	display: block;
	float: center;
	margin: 5px;
}

/* Tablet Version */

@media only screen and (min-width: 600px) {

	.book-content .navbar a {
		float: left;
	}

	.book-content .navbar button {
		float: left;
	}
	
}

/* Desktop Version */

@media only screen and (min-width: 768px) {

	.page-title {
		font-size: initial;
		padding: auto;
	}

	.book-content .navbar a {
		width: 16.66666%;
	}

	.book-content .navbar button {
		width: 16.66666%;
	}

	.book-content .main-text {
		max-width: 75%;
		margin: auto;
		font-family: 'Calibri2', Calibri, Arial, 'Trebuchet MS', sans-serif;
		line-height: normal;
		font-size: 16px;
	}

	/* Images Style */
	#coal-img, #wind-turbine-img, #race-car-img, #peaker-plant-img, #battery-storage-img,
	#water-cycle-img {
		float: right;
	}

}
